@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Quicksand', ubuntu, monospace;
    margin: 0px;
    padding: 0px;
}
:root{
    --color--gray: rgba(128, 128, 128, 0.322);
}

.apresentacao{
    margin-top: 30vh;
    text-align: center;
    text-shadow: -3px 2px 5px rgba(0, 0, 0, 0.39);
}


.btn-ini{
    min-width: 200px;
    max-width: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh 23vw;
    text-decoration: none;
}

@media(max-width:450px) {
    .btn-ini{
    margin: 12vh 30vw;
    }
}

table{
    border-collapse: collapse;
    line-height: 200%;
}

.exit{
    position: absolute;
    right: 30px;
}


form{
    display: flex;
    justify-content: space-evenly;
}

#form-item{
    width: 35vw;
    height: 40px;
    border-color: rgba(128, 128, 128, 0.123);
}    

#form-valor{
    width: 40vw;
    height: 40px;
    border-color: rgba(128, 128, 128, 0.123);
}

.btn-adicionar{
    position:fixed;
    bottom: 0px;
    height: 60px;
    width: 100%;
    border-radius: 0px;
}
